/* Conference Offer Angular Cert */


#bb-banner.bb-campaign-vs-test {
    background: #0B0C15;
    font-family: 'Inter', sans-serif;
}


#bb-banner.bb-campaign-vs-test:hover .bb-core .bb-button-wrapper .bb-button {
    background: white;
    color: var(--Background, #0B0C15);
    transition: background-color 0.5s, color 0.5s; 
  }

#bb-banner.bb-campaign-vs-test .bb-logo {
    width: 252px;
    height: 34px;
    background-image: url('https:\/\/staging-banner.bitterbrains.com\/images\/banners\/assets\/CERT_JS\/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    transform: translateX(-60px);
}

#bb-banner.bb-campaign-vs-test .bb-core {
    gap: 40px;

}

#bb-banner.bb-campaign-vs-test .bb-core .bb-slogan .bb-title-container {
    max-width: max-content;
    order: 3;
    display: flex;
    flex-direction: row;
    gap: 20px   ;

}

#bb-banner.bb-campaign-vs-test .bb-core .bb-slogan .bb-interlude {
    order: 2;
}


#bb-banner.bb-campaign-vs-test .bb-core .bb-slogan .bb-prelude, #bb-banner.bb-campaign-vs-test .bb-core .bb-slogan .bb-interlude {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--White, #FFF);
    text-align: center;
 
}

#bb-banner.bb-campaign-vs-test .bb-core .bb-slogan .bb-prelude {
    max-width: 50px;
}

#bb-banner.bb-campaign-vs-test .bb-core .bb-slogan .bb-interlude {
    max-width: 81px;
}

#bb-banner.bb-campaign-vs-test .bb-core .bb-slogan .bb-prelude span {
    color: #F7DF1E;
}

#bb-banner.bb-campaign-vs-test .bb-core .bb-slogan {
    gap: 40px;
}

#bb-banner.bb-campaign-vs-test .bb-core .bb-title {
    color: var(--White, var(--White, #FFF));
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#bb-banner.bb-campaign-vs-test .bb-core .bb-title span, #bb-banner.bb-campaign-vs-test .bb-core .bb-subtitle span {
    color: #F7DF1E;
}

#bb-banner.bb-campaign-vs-test .bb-core .bb-subtitle {
    color: var(--Body-Text, #E8E6E6);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 160px;
}


#bb-banner.bb-campaign-vs-test .bb-core .bb-countdown-container .bb-addendum {
    color: var(--White, var(--White, #FFF));
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#bb-banner.bb-campaign-vs-test .bb-core .bb-countdown-container {
    order: 3;
    display: flex;
    align-items: center;
    gap: 20px;
}

#bb-banner.bb-campaign-vs-test .bb-core .bb-countdown-container .bb-countdown-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#bb-banner.bb-campaign-vs-test .bb-core .bb-countdown-container .bb-countdown-wrapper .bb-countdown-footer {
    color: var(--White, var(--White, #FFF));
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#bb-banner.bb-campaign-vs-test .bb-core .bb-countdown-container .bb-countdown {
    display: flex;
    padding: 6px 14px;
    align-items: center;
    border-radius: 4px;
background: rgba(247, 223, 30, 0.20);
color: white;
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: normal;
letter-spacing: 1.6px;
}

#bb-banner.bb-campaign-vs-test .bb-core .bb-button-wrapper .bb-button {
    display: flex;
    height: 40px;
    padding: 0px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    background: #F7DF1E;
color: #0B0C15;
text-align: center;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

@media screen and (max-width: 1600px) {

    #bb-banner.bb-campaign-vs-test .bb-core .bb-countdown-container .bb-countdown-wrapper {
        flex-direction: column;
        gap: 2px;
    }

    #bb-banner.bb-campaign-vs-test .bb-core .bb-subtitle {
        display: none;
    }

    #bb-banner.bb-campaign-vs-test .bb-core .bb-slogan {
        flex-direction: row !important;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        max-width: 380px;
        gap: 2px 6px;
    }

    #bb-banner.bb-campaign-vs-test .bb-core {
        gap: 20px;
    }
    #bb-banner.bb-campaign-vs-test .bb-logo {
        width: 32px;
        height: 40px;
        background-image: url('https:\/\/staging-banner.bitterbrains.com\/images\/banners\/assets\/CERT_JS\/mark.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        transform: translateX(-40px);
    }

    #bb-banner.bb-campaign-vs-test .bb-core .bb-title, #bb-banner.bb-campaign-vs-test .bb-core .bb-subtitle, #bb-banner.bb-campaign-vs-test .bb-core .bb-slogan .bb-prelude, #bb-banner.bb-campaign-vs-test .bb-core .bb-slogan .bb-interlude {
        font-size: 14px;
        max-width: fit-content;
    }

    #bb-banner.bb-campaign-vs-test .bb-core .bb-countdown-container .bb-countdown-wrapper .bb-countdown {
        font-size: 12px;
        padding: 0px;
        background-color: transparent;
        background: transparent;
    }
}


@media screen and (max-width: 768px) {
    #bb-banner.bb-campaign-vs-test .bb-core, #bb-banner.bb-campaign-vs-test .bb-core .bb-slogan {
        gap: 1px;
    }

    #bb-banner.bb-campaign-vs-test .bb-core {
        flex-direction: column;
        gap: 2px;

    }

    #bb-banner.bb-campaign-vs-test .bb-core .bb-slogan {
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 280px;
        justify-content: center;
        gap: 2px 4px;
    }

    #bb-banner.bb-campaign-vs-test .bb-core .bb-slogan .bb-prelude {
        font-size: 10px;
        max-width: fit-content;
     
    }

    #bb-banner.bb-campaign-vs-test .bb-core .bb-slogan .bb-interlude {
        font-size: 10px;
        max-width: fit-content;
     
    }

    #bb-banner.bb-campaign-vs-test .bb-core .bb-title, #bb-banner.bb-campaign-vs-test .bb-core .bb-subtitle {
        font-size: 10px;
    }

    #bb-banner.bb-campaign-vs-test .bb-core .bb-button-wrapper {
        display: none;
    }

    #bb-banner.bb-campaign-vs-test .bb-core .bb-countdown-container .bb-countdown-wrapper .bb-countdown-footer {
        color: var(--White, var(--White, #FFF));
        text-align: center;
        font-size: 9px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.8px;
        text-transform: uppercase;
    }

    #bb-banner.bb-campaign-vs-test .bb-core .bb-countdown-container .bb-countdown-wrapper .bb-countdown {
        color: var(--White, var(--White, #FFF));
text-align: center;
font-size: 9px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.8px;
text-transform: uppercase;
        padding: 0px;
        background-color: transparent;
    }

    #bb-banner.bb-campaign-vs-test .bb-core .bb-countdown-container .bb-countdown-wrapper {
        flex-direction: row;
        gap: 4px;
    }

    #bb-banner.bb-campaign-vs-test .bb-logo {
        transform: translateX(-20px);
    }
}