/* MN */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

#bb-banner.bb-campaign-vs-test {
    background: linear-gradient(0deg, rgba(205, 255, 6, 0.30) 0%, rgba(205, 255, 6, 0.30) 100%), #061716;
    font-family: 'Inter', sans-serif !important;
}

#bb-banner.bb-campaign-vs-test:hover .bb-core .bb-button-wrapper .bb-button {
    background: #ffffff;
    transition: background-color 0.5s, color 0.5s; 
  }

  #bb-banner.bb-campaign-vs-test .bb-core, #bb-banner.bb-campaign-vs-test .bb-core .bb-slogan {
    display: flex;
    gap: 40px;
  }

#bb-banner.bb-campaign-vs-test .bb-logo {
    width: 167.561px;
    height: 26px;
    background-image: url('http://vueschool.io/images/banners/assets/MASTERING_PINIA/logo.svg') !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    margin-right: 60px;
    
}

#bb-banner.bb-campaign-vs-test .bb-slogan .bb-prelude {
    order: 1;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
   color: white;
}

#bb-banner.bb-campaign-vs-test .bb-slogan .bb-prelude span {
 background: var(--Linear, linear-gradient(90deg, #FFD706 1.49%, #3FDF62 100%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin-right: 20px;
}


#bb-banner.bb-campaign-vs-test .bb-core .bb-slogan .bb-title-container {
    order: 3;
}


#bb-banner.bb-campaign-vs-test .bb-core .bb-countdown-container {
    order: 5;
}

#bb-banner.bb-campaign-vs-test .bb-core .bb-button-wrapper {
    order: 4;
}

#bb-banner.bb-campaign-vs-test .bb-core .bb-slogan .bb-title-container .bb-title {
    color: var(--White, #FFF);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


#bb-banner.bb-campaign-vs-test .bb-core .bb-slogan .bb-title-container .bb-subtitle {
    color: var(--White, #FFF);
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}


#bb-banner.bb-campaign-vs-test .bb-core .bb-slogan .bb-title-container .bb-title span {
    color: var(--White, #FFD706);
 }

 #bb-banner.bb-campaign-vs-test .bb-core .bb-button-wrapper .bb-button {
    display: flex;
    height: 40px;
    padding: 0px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
background: #FFD706;
color: var(--Background, #131620);
text-align: center;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

#bb-banner.bb-campaign-vs-test .bb-core .bb-countdown-container .bb-addendum {
    color: var(--White, var(--White, #FFF));
text-align: center;
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1px;
text-transform: uppercase;
}

#bb-banner.bb-campaign-vs-test .bb-core .bb-countdown-container {
    order: 4;
    display: flex;
    align-items: center;
    gap: 20px;
}



#bb-banner.bb-campaign-vs-test .bb-core .bb-countdown-container .bb-countdown-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#bb-banner.bb-campaign-vs-test .bb-core .bb-countdown-container .bb-countdown-wrapper .bb-countdown-footer {
    color: var(--White, var(--White, #FFF));
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#bb-banner.bb-campaign-vs-test .bb-core .bb-countdown-container .bb-countdown {
    display: flex;
    padding: 6px 14px;
    align-items: center;
    border-radius: 4px;
    background: linear-gradient(90deg, rgba(255, 215, 6, 0.20) 1.49%, rgba(63, 223, 98, 0.20) 100%);
color: var(--White, var(--White, #FFD706));
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 800;
line-height: normal;
letter-spacing: 1.6px;
}


@media screen and (max-width: 1440px) {
#bb-banner.bb-campaign-vs-test .bb-core {
    gap: 20px;
}

}

@media screen and (max-width: 1280px) {
    #bb-banner.bb-campaign-vs-test .bb-core {
        margin-right: 30px;
    }

    #bb-banner.bb-campaign-vs-test .bb-core, #bb-banner.bb-campaign-vs-test .bb-core .bb-slogan {
        gap: 20px;
    }
    #bb-banner.bb-campaign-vs-test .bb-core .bb-countdown-container .bb-addendum {
        max-width: 50px;
    }

    #bb-banner.bb-campaign-vs-test .bb-logo {
        margin-right: 15px !important;
    }

    #bb-banner.bb-campaign-vs-test .bb-core .bb-slogan .bb-prelude {
        font-size: 16px;
        max-width: 140px;
    }

    #bb-banner.bb-campaign-vs-test .bb-core .bb-slogan .bb-prelude span {
        margin-right: 0px;
    }

    #bb-banner.bb-campaign-vs-test .bb-core .bb-slogan .bb-title-container {
        max-width: 300px;
    }

    #bb-banner.bb-campaign-vs-test .bb-core .bb-slogan .bb-title-container .bb-title, #bb-banner.bb-campaign-vs-test .bb-core .bb-slogan .bb-title-container .bb-subtitle {
        font-size: 15px;
    }

    #bb-banner.bb-campaign-vs-test .bb-logo {
        width: 31.354px;
height: 40px;
        background-image: url('http://vueschool.io/images/banners/assets/MASTERING_PINIA/mark.svg') !important;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        position: relative;
        margin-right: 40px;
        
    }

    #bb-banner.bb-campaign-vs-test .bb-core .bb-countdown-container .bb-countdown-wrapper {
        flex-direction: column;
        gap: 2px;
    }

    #bb-banner.bb-campaign-vs-test .bb-core .bb-countdown-container .bb-countdown-wrapper .bb-countdown {
        background: transparent;
        padding: 0px;
        font-size: 12px;
        letter-spacing: 1.4px;
        color: white;
    }
}

@media screen and (max-width: 768px) {


    #bb-banner.bb-campaign-vs-test .bb-core {
        margin-right: 30px;
        flex-direction: column;
        gap: 2px;
    }

    #bb-banner.bb-campaign-vs-test .bb-logo {
        margin-right: 30px !important;
    }

    #bb-banner.bb-campaign-vs-test .bb-core .bb-button-wrapper {
        display: none;
    }

    #bb-banner.bb-campaign-vs-test .bb-core .bb-slogan {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    #bb-banner.bb-campaign-vs-test .bb-core .bb-slogan .bb-prelude {
        max-width: fit-content;
    }

    #bb-banner.bb-campaign-vs-test .bb-core .bb-slogan .bb-title-container  {
        max-width: 270px;
    }

    #bb-banner.bb-campaign-vs-test .bb-core .bb-slogan .bb-title-container .bb-title,  #bb-banner.bb-campaign-vs-test .bb-core .bb-slogan .bb-prelude, #bb-banner.bb-campaign-vs-test .bb-core .bb-slogan .bb-title-container .bb-subtitle {
        font-size: 13px;
    }

    #bb-banner.bb-campaign-vs-test .bb-core .bb-countdown-container .bb-addendum {
        max-width: max-content;
        font-size: 8px;
    }

    #bb-banner.bb-campaign-vs-test .bb-core .bb-countdown-container .bb-countdown-wrapper {
        flex-direction: row;
        gap: 2px;
    }

    #bb-banner.bb-campaign-vs-test .bb-core .bb-countdown-container .bb-countdown-wrapper .bb-countdown {
        font-size: 10px;
        letter-spacing: 1px;
    }
}