/* Vue School */


#bb-banner.bb-campaign-vs-test {
    background: #0B0C15;
    font-family: 'Rubik', sans-serif;
}


#bb-banner.bb-campaign-vs-test:hover .bb-core .bb-button-wrapper .bb-button {
    background: white;
    color: var(--Background, #0B0C15);
    transition: background-color 0.5s, color 0.5s; 
  }

#bb-banner.bb-campaign-vs-test .bb-logo {
    display: none;
    
}

#bb-banner.bb-campaign-vs-test .bb-core {
    gap: 40px;

}

#bb-banner.bb-campaign-vs-test .bb-core .bb-slogan .bb-title-container {
    width: auto;
}


#bb-banner.bb-campaign-vs-test .bb-core .bb-slogan .bb-prelude {
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    color: var(--White, #FFF);
    text-align: center;
 
}

#bb-banner.bb-campaign-vs-test .bb-core .bb-slogan .bb-interlude {
    width: 135px;
    height: 35px;
    background-image: url('https://staging.vueschool.io/images/banners/assets/BLACKFRIDAY/bonus-items-eb.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

#bb-banner.bb-campaign-vs-test .bb-core .bb-slogan .bb-prelude span {
    background: linear-gradient(90deg, #FF4E6E 0%, #E43EFF 43.39%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

#bb-banner.bb-campaign-vs-test .bb-core .bb-slogan {
    gap: 40px;
}

#bb-banner.bb-campaign-vs-test .bb-core .bb-title {
    color: var(--White, var(--White, #FFF));
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#bb-banner.bb-campaign-vs-test .bb-core .bb-title span {
    color: var(--Pink, var(--White, #FF4E6E));
    font-weight: 700;
}

#bb-banner.bb-campaign-vs-test .bb-core .bb-subtitle {
    color: var(--White, var(--White, #FFF));
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
}


#bb-banner.bb-campaign-vs-test .bb-core .bb-countdown-container .bb-addendum {
    color: var(--White, var(--White, #FFF));
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#bb-banner.bb-campaign-vs-test .bb-core .bb-countdown-container {
    order: 3;
    display: flex;
    align-items: center;
    gap: 20px;
}

#bb-banner.bb-campaign-vs-test .bb-core .bb-countdown-container .bb-countdown-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#bb-banner.bb-campaign-vs-test .bb-core .bb-countdown-container .bb-countdown-wrapper .bb-countdown-footer {
    color: var(--White, var(--White, #FFF));
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#bb-banner.bb-campaign-vs-test .bb-core .bb-countdown-container .bb-countdown {
    display: flex;
    padding: 6px 14px;
    align-items: center;
    border-radius: 4px;
background: rgba(255, 78, 110, 0.20);
color: var(--White, var(--White, #FFF));
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 800;
line-height: normal;
letter-spacing: 1.6px;
}

#bb-banner.bb-campaign-vs-test .bb-core .bb-button-wrapper .bb-button {
    display: flex;
    height: 40px;
    padding: 0px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--White, #FFF);
text-align: center;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
border-radius: 50px;
background: linear-gradient(90deg, #FF4E6E -0.16%, #E43EFF 100%);
}

@media screen and (max-width: 1600px) {

    #bb-banner.bb-campaign-vs-test .bb-core .bb-slogan .bb-title-container {
        max-width: 215px;
    }

    #bb-banner.bb-campaign-vs-test .bb-core .bb-slogan .bb-title-container .bb-subtitle {
        display: none;
    }
}


@media screen and (max-width: 1440px) {
    #bb-banner.bb-campaign-vs-test .bb-core .bb-slogan .bb-prelude {
        max-width: 178px;
    }

    #bb-banner.bb-campaign-vs-test .bb-core .bb-slogan{
        gap: 10px;
    }

    #bb-banner.bb-campaign-vs-test .bb-core .bb-slogan .bb-interlude {
        display: none;
    }

    #bb-banner.bb-campaign-vs-test .bb-core .bb-countdown-container .bb-addendum {
        max-width: auto;
        text-align: center;
    }
}

@media screen and (max-width: 1100px) {
    #bb-banner.bb-campaign-vs-test .bb-core .bb-countdown-container .bb-countdown-wrapper {
        flex-direction: column;
        gap: 2px;
    }

    #bb-banner.bb-campaign-vs-test .bb-core .bb-countdown-container .bb-countdown-wrapper .bb-countdown {
        color: var(--White, var(--White, #FFF));
text-align: center;
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1px;
text-transform: uppercase;
padding: 0px;
background-color: transparent;
    }
}

@media screen and (max-width: 768px) {
    #bb-banner.bb-campaign-vs-test .bb-core {
        flex-direction: row;
        align-items: center;
        gap: 5px;
        margin-left: -30px;
    }

    #bb-banner.bb-campaign-vs-test .bb-core .bb-slogan {
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }

    #bb-banner.bb-campaign-vs-test .bb-core .bb-slogan .bb-prelude {
        font-size: 14px;
font-style: normal;
font-weight: 800;
line-height: normal;
text-transform: uppercase;
max-width: max-content;
    }

    #bb-banner.bb-campaign-vs-test .bb-core .bb-slogan .bb-title-container {
        max-width: 167px;
    }

    #bb-banner.bb-campaign-vs-test .bb-core .bb-slogan .bb-title-container .bb-title {
        font-size: 14px;
    }

    #bb-banner.bb-campaign-vs-test .bb-core .bb-countdown-container .bb-addendum {
        max-width: 45px;
        text-align: center;
        font-size: 9px;
    }

    #bb-banner.bb-campaign-vs-test .bb-core .bb-button-wrapper .bb-button {
        display: none;
    }

}
